torch<2
transformers==4.38.0
numpy==1.22.3
pytorch-lightning==1.6.5
datasets
tree-sitter
timeout-decorator
editdistance
bitsandbytes
accelerate
scikit-learn
rank-bm25
fuzzywuzzy
nltk
sacrebleu
sentencepiece
tensorboard
deepspeed==0.6.7
gputil
jsonlines
codebleu
